In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import nltk

import re

In [2]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Reading CSV file

In [3]:
df=pd.read_csv('data/twitter_training.csv')

Printing 5 record

In [4]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [5]:
column_names=['ID','Entity','Sentiment','Content']
df=pd.read_csv("data/twitter_training.csv",names=column_names)
df.head()

,ID,Entity,Sentiment,Content
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [6]:
df.shape

(74682, 4)

In [7]:
df.isna().sum()

ID             0
Entity         0
Sentiment      0
Content      686
dtype: int64

In [8]:
df=df.dropna()

In [9]:
df.isna().sum()

ID           0
Entity       0
Sentiment    0
Content      0
dtype: int64

In [10]:
df['Sentiment'].value_counts()

Sentiment
Negative      22358
Positive      20655
Neutral       18108
Irrelevant    12875
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73996 entries, 0 to 74681
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         73996 non-null  int64
 1   Entity     73996 non-null  object
 2   Sentiment  73996 non-null  object
 3   Content    73996 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.8+ MB

In [12]:
df.nunique()

ID           12447
Entity          32
Sentiment        4
Content      69491
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73996 entries, 0 to 74681
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         73996 non-null  int64
 1   Entity     73996 non-null  object
 2   Sentiment  73996 non-null  object
 3   Content    73996 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.8+ MB

In [14]:
def clean_text(text):
    text=re.sub(r'\@w+|\#','', text)
    text=re.sub(r'[^A-Za-z\s]',"",text)
    text=text.lower()
    return text

In [15]:
df['cleaned']=df['Content'].apply(clean_text)

stop_words = set(stopwords.words('english'))
df['cleaned'] = df['cleaned'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))

df['Sentiment']=df['Sentiment'].astype('category')
df['Sentiment_label']=df['Sentiment'].cat.codes

df.to_csv("data/twitter_training_cleaned.csv", index=False)